/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
    background: #1f2e45;
    background-size: cover;
}

.body-content 
{
    padding-left: 15px;
    padding-right: 15px;
}

#login 
{
    position: fixed;
    z-index: 13;
    width: 100%;
    text-align: right;
    padding: 5px 25px 5px 0;
}

    #login input 
    {
        width: 140px;
        padding: 1px;
        padding-left: 4px;
        color: #000;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1em;
        font-family: 'Roboto', sans-serif;
    }

.loginButton:hover 
{
    background: #bb8;
    color: #444;
}

#login i 
{
    font-size: 1.6em;
    margin: 0 11px;
    color: #ddd;
}

#login a:hover i 
{
    color: #bb8;
}



///////////// /* AddUser Page*/ //////////////

#userGrid 
{
    display: grid;
    width: 100%;
    opacity: .93;
    background-size: 70%;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-template-areas: 
        "hdr hdr hdr hdr hdr hdr"
        " .   .  sup sup  .   . " 
        "ftr ftr ftr ftr ftr ftr";
}

#newUser 
{
    grid-area: sup;
    margin: auto;
    text-align: center;
}

#newUserForm 
{
    grid-area: sup;
    text-align: center;
    padding: 25px;
    padding-top: 47px;
    border: 1px solid #444;
    border-radius: 12px;
    background: rgba(255, 255, 255, .13);
}

    #newUserForm input {
        width: 220px;
        padding: 4px;
        padding-left: 8px;
        color: #999;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1.2em;
        font-family: 'Roboto', sans-serif;
        margin: 1px;
    }

        #newUserForm input[type="submit"] {
            font-weight: 700;
            color: #444;
            margin-bottom: 0;
        }

///////////// /* UserControls Page*/ //////////////

#webCam {
    width: 100%;
    background: #fff;
    text-align: center;    
}
    #webCam img {
        margin-left: calc(50% - 320px);
        padding-top: 100px;
    }

#controls {
    width: 100%;
}

#carControl {
    width: 300px;
    text-align: center;
    margin: 20px 20px 20px 250px;
    float: left;
}

#camControl {
    width: 300px;
    text-align: center;
    margin: 20px;
    float: left;
}

.title {
    width: 100%;
}

.controlBtn {
    margin: 10px;
}

.controlLeft {
    width: 100px;
    height: 100px;
    line-height: 100px;
    white-space: nowrap;
    float: left;
}

.controlCenter {
    width: 100px;
    float: left;
}

.controlRight {
    width: 100px;
    height: 100px;
    line-height: 100px;
    white-space: nowrap;
    float: left;
}

.controlStop {
    width: 100%;
    clear: both;
}

#speedControl {
    width: 200px;
    margin: 20px;
    float: left;
}

.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
    }

    .slider:-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
    }

#addFacePanel {
    position: fixed;
    z-index: 13;
    width: 840px;
    max-height: 600px;
    margin-left: calc(50% - 420px);
    padding: 10px 10px 10px 20px;
    background: rgba(0, 0, 0, .87);
    border: 1px solid #000;
    border-radius: 12px;
    box-shadow: 0 4px 11px #999;
    top: -800px;
    overflow-y: auto;
    overflow-x: hidden;
    color: #fff;
}
    #closeTop {
        width: 100%;
        text-align: right;
        }
    #facePanelTop {
        width: 100%;
        min-height: 400px;          
    }
        #faceTable {
            margin: 15px;
            border-collapse: collapse;
            width: 100%;
            font-size: 1.3em;
        }
        #faceTable th {
            padding-top: 15px;
            padding-bottom: 15px;                
            text-decoration: underline;
            color: white;
        }
        #faceTable tr {            
            padding-bottom: 10px;
        }
        .removeBtn {
            width: 60px;
        }
            .removeBtn:hover {
                opacity: .7;
            }
        .addFaceBtn {
            width: 70px;
        }
            .addFaceBtn:hover {
                opacity: .7;
            }
    #facePanelBottom {
        width: 100%;        
        height: 50px;
    }
        #facePanelBottomLeft {
            width: 10%;
            float: left;
            height: 50px;
        }
        #facePanelBottomMiddle {
            width: 80%;
            height: 50px;
            float: left;
            text-align: center;
        }
        #facePanelBottomRight {
            width: 10%;
            height: 50px;
            float: left;
            text-align: right;
        }
        
        #addFacePanel i{
            font-size: 2.5em;
            
            color: #ddd;
        }
        #addFacePanel i:hover {
            color: #bb8;
        }

#addPersonPanel {
    position: fixed;
    z-index: 14;
    width: 840px;
    height: 400px;    
    margin-left: calc(50% - 420px);
    padding: 10px 10px 10px 20px;
    background: rgba(0, 0, 0, .8);
    border: 1px solid #000;
    border-radius: 12px;
    box-shadow: 0 4px 11px #999;
    top: -500px;
    color: #fff;
}
    #addPersonPanelTop {
        width: 100%;
        height: 300px;
        text-align: center;
    }
    #addPersonTable {
            margin-left: 150px;
            border-collapse: collapse;
            width: calc(100% - 400px);
            font-size: 1.3em;
        }
        #addPersonTable td {
            padding: 10px;
        }
        #addPersonPanelTop h2 {
            padding-bottom: 50px;
            text-align: center;
            text-decoration: underline;
        }
        #addPersonPanelTop input {
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1em;
            color: #000;
        }
        #addPersonBtn
        {
            border-radius: 4px;
            border: 1px solid #444;
            font-weight: 700;
            font-size: 1em;
            color: #ddd;
            background: #4CAF50;
            width: 100px;
        }
                #addPersonBtn:hover 
                {
                    background: #ADD3F5;
                    color: #444;
                }
    #addPersonPanelBottom {
        width: 100%;
        height: 100px;
    }
        #addPersonPanelBottom i{
            font-size: 2.5em;
            margin: 20px;
            padding-bottom: 10px;
            color: #ddd;
        }
        #addPersonPanel i:hover {
            color: #bb8;
        }

#takePicPanel {
    position: fixed;
    z-index: 15;
    width: 840px;
    height: 280px;
    margin-left: calc(50% - 420px);
    padding: 10px 10px 10px 20px;
    background: rgba(0, 0, 0, .8);
    border: 1px solid #000;
    border-radius: 12px;
    box-shadow: 0 4px 11px #999;
    top: 500px;
    color: #fff;
    display: normal;
}
    #instructions {
        width: 100%;
        height: 200px;
        font-size: 1.3em;
        text-align: center;
        padding: 20px;
    }
        .cameraBtn {
            width: 50px;
            padding-top: 30px;
        }
        .cameraBtn:hover {
            opacity: .5;
        }
    #takePicPanelBottom {
        width: 100%;
        height: 50px;
        font-size: 2.5em;        
        color: #ddd;
        text-align: right;
    }
        #takePicPanelBottom i:hover {
            color: #bb8;
        }

.white {
    color: #fff;
}
.gold {
    color: gold;
}
.centered-cell {
    padding-left: 50px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */


/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
