
body {
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
    background: #3e3d3b; /*#1f2e45*/
    background-size: cover;
}

.body-content 
{
    padding-left: 15px;
    padding-right: 15px;
}

@font-face {
    font-family: robo;
    src: url(COMPUTERRobot.ttf);
}

#login 
{
    position: fixed;
    z-index: 13;
    width: 100%;
    text-align: right;
    padding: 5px 25px 5px 0;
}

    #login input 
    {
        width: 140px;
        padding: 1px;
        padding-left: 4px;
        color: #000;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1em;
        font-family: 'Roboto', sans-serif;
    }

.loginButton:hover 
{
    background: #bb8;
    color: #444;
}

#login i 
{
    font-size: 1.6em;
    margin: 0 11px;
    color: #ddd;
}

#login a:hover i 
{
    color: #bb8;
}


///////////// /* AddUser Page*/ //////////////

#userGrid 
{
    display: grid;
    width: 100%;
    opacity: .93;
    background-size: 70%;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-template-areas: 
        "hdr hdr hdr hdr hdr hdr"
        " .   .  sup sup  .   . " 
        "ftr ftr ftr ftr ftr ftr";
}

#newUser 
{
    grid-area: sup;
    margin: auto;
    text-align: center;
}

#newUserForm 
{
    grid-area: sup;
    text-align: center;
    padding: 25px;
    padding-top: 47px;
    border: 1px solid #444;
    border-radius: 12px;
    background: rgba(255, 255, 255, .13);
}

    #newUserForm input {
        width: 220px;
        padding: 4px;
        padding-left: 8px;
        color: #999;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1.2em;
        font-family: 'Roboto', sans-serif;
        margin: 1px;
    }

        #newUserForm input[type="submit"] {
            font-weight: 700;
            color: #444;
            margin-bottom: 0;
        }

///////////// /* UserControls Page*/ //////////////

#webCam {
    width: 100%;
    background: #fff;
    text-align: center;    
}
    #webCam img {        
        position: fixed;
        z-index: 3;
        margin-left: calc(50% - 320px);
        padding-top: 100px;
    }
        #webCamAlt {
            position: fixed;
            z-index: 2;
            margin-left: calc(50% - 320px);
            padding-top: 100px;
        }
#carInterior {
    
    
}
    #interior {        
        position: fixed;
        top: 460px;
        z-index: 4;
        margin-left: calc(50% - 560px);
    }
    #screen {
        position: fixed;
        z-index: 500;
        width: 550px;
        top: 250px;
        margin-left: calc(50% + 50px);
    }
    #displayText {
        position: fixed;
        z-index: 510;
        width: 190px;
        height: 170px;
        top: 360px;
        margin-left: calc(50% + 185px);
        color: #4CAF50;
        text-align: center;
        font-size: 1.5em;        
        word-break: normal; 
        word-wrap: normal;
        font-family: robo;
    }
    #popUpComputer {
        

    }

.title {
    width: 100%;
}

.controlBtn {
    margin: 10px;
}

#connect {
    margin: 75px 0 0 20px;
}

#toggleDiv {
    width: 150px;
    height: 420px;
    margin: 125px 0 0 20px;
}
    .toggleBtn {
        width: 200px;        
        float: left;
    }

#controlPanel {
    position: fixed;
    z-index: 19;
    width: 780px;
    height: 300px;
    margin-left: calc(50% - 390px);
    padding: 10px 10px 10px 20px;
    background: rgba(0, 0, 0, .8);
    border: 1px solid #000;
    border-radius: 12px;
    box-shadow: 0 4px 11px #999;
    top: 580px;
    color: #fff;    

    display: grid;          
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-template-areas: 
        "car car car  .  cam cls "
        " .  rup lgt lgt mpp  . "        
        "rlf stp rrt mlt hom mrt"
        " .  rdn spd spd mdn  . ";
}
    #controlPanel input {
        align-self: center;        
    }
    #controlPanel:hover input {
        
    }
    #carTitle {
        grid-area: car;
        align-self: center;
        text-align: center;
        text-decoration: underline;
        font-size: 1.2em;
    }
    #camTitle {
        grid-area: cam;
        align-self: center;
        text-align: center;
        text-decoration: underline;    
        font-size: 1.2em;
    }
    #carStop {
        grid-area: stp; 
        display: flex;
        justify-content: center;
    }
    #carUp {
        grid-area: rup;    
        display: flex;
        justify-content: center;
    }
    #carDown {
        grid-area: rdn;   
        display: flex;
        justify-content: center;
    }
    #carLeft {
        grid-area: rlf;  
        padding-left: 50px;
        display: flex;
        justify-content: center;         
    }
    #carRight {
        grid-area: rrt; 
        padding-right: 50px;
        display: flex;
        justify-content: center; 
    }
    #camHome {
        grid-area: hom;  
        display: flex;
        justify-content: center; 
    }
    #camUp {
        grid-area: mpp;  
        display: flex;
        justify-content: center; 
    }
    #camDown {
        grid-area: mdn;  
        display: flex;
        justify-content: center; 
    }
    #camLeft {
        grid-area: mlt;   
        padding-left: 100px;
        display: flex;
        justify-content: center; 
    }
    #camRight {
        grid-area: mrt;  
        padding-right: 120px;
        display: flex;
        justify-content: center; 
    }
    #light {
        grid-area: lgt;         
        display: flex;
        justify-content: center; 
    }
    #speedControl {
        grid-area: spd;  
        display: flex;
        text-align: center;
        justify-content: center;
        align-self: center;
        font-size: 1.1em;
    }
        #speedControl span {
            padding-top: 30px;
        }
    #closeControlPanel{
        grid-area: cls;               
        font-size: 1.7em;
        text-align: right;
    }
    .ctrlBtn {
        width: 60px;        
    }
    .ctrlBtn:hover {
        opacity: .7;
    }
    .slider {
        -webkit-appearance: none;
        width: 200px;
        height: 10px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;    
    }
        .slider:hover {
            opacity: 1;
        }
        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #4CAF50;
            cursor: pointer;
        }

#visionPanel {
    position: fixed;
    z-index: 19;
    width: 780px;
    height: 300px;
    margin-left: calc(50% - 390px);
    padding: 10px 10px 10px 20px;
    background: rgba(0, 0, 0, .8);
    border: 1px solid #000;
    border-radius: 12px;
    box-shadow: 0 4px 11px #999;
    top: 580px;
    color: #fff;    

    display: grid;          
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-template-areas: 
        "  .   .  clo"
        " spk spk spk"
        " fac see rea";
}
    #visionPanel input {        
        align-self: center;        
    }
    #fredSees {
        grid-area: see;
        display: flex;
        justify-content: center;
    }
    #fredDetectFace {
        grid-area: fac;
        display: flex;
        justify-content: center;
    }
    #fredReads {
        grid-area: rea;
        display: flex;
        justify-content: center;
    }
    #fredSpeak {
        grid-area: spk;
        display: flex;
        justify-content: center;
        font-size: 1.4em;
        
    }
        #speakInput {
            width: 350px;
            padding: 1px;
            padding-left: 4px;
            color: #000;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1em;
            font-family: 'Roboto', sans-serif;
        }
        #speakBtn {
            width: 100px;
            padding: 1px;
            margin-left: 8px;
            color: #000;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1em;
            font-family: 'Roboto', sans-serif;
        }
            #speakBtn:hover {
                background: #bb8;
                color: #444;
            }
    #closeVisionPanel {
        grid-area: clo;
        text-align: right;
        font-size: 1.7em;
    }
    .detectFace {
        width: 80px;
    }

    
#addFacePanel {    
    position: fixed;
    z-index: 13;
    width: 840px;
    max-height: 600px;
    margin-left: calc(50% - 420px);
    padding: 10px 10px 10px 20px;
    background: rgba(0, 0, 0, .87);
    border: 1px solid #000;
    border-radius: 12px;
    box-shadow: 0 4px 11px #999;
    top: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    color: #fff;
}
    #closeTop {
        width: 100%;
        text-align: right;
        }
    #facePanelTop {
        width: 100%;
        min-height: 400px;          
    }
        #faceTable {
            margin: 15px;
            border-collapse: collapse;
            width: 100%;
            font-size: 1.3em;
        }
        #faceTable th {
            padding-top: 15px;
            padding-bottom: 15px;                
            text-decoration: underline;
            color: white;
        }
        #faceTable tr {            
            padding-bottom: 10px;
        }
        .removeBtn {
            width: 60px;
        }
            .removeBtn:hover {
                opacity: .7;
            }
        .addFaceBtn {
            width: 70px;
        }
            .addFaceBtn:hover {
                opacity: .7;
            }
    #facePanelBottom {
        width: 100%;        
        height: 50px;
    }
        #facePanelBottomLeft {
            width: 10%;
            float: left;
            height: 50px;
        }
        #facePanelBottomMiddle {
            width: 80%;
            height: 50px;
            float: left;
            text-align: center;
        }
        #facePanelBottomRight {
            width: 10%;
            height: 50px;
            float: left;
            text-align: right;
        }
        
        #addFacePanel i{
            font-size: 2.5em;
            
            color: #ddd;
        }
        #addFacePanel i:hover {
            color: #bb8;
        }

#addPersonPanel {
    position: fixed;
    z-index: 14;
    width: 840px;
    height: 400px;    
    margin-left: calc(50% - 420px);
    padding: 10px 10px 10px 20px;
    background: rgba(0, 0, 0, .8);
    border: 1px solid #000;
    border-radius: 12px;
    box-shadow: 0 4px 11px #999;
    top: -500px;
    color: #fff;
}
    #addPersonPanelTop {
        width: 100%;
        height: 300px;
        text-align: center;
    }
    #addPersonTable {
            margin-left: 150px;
            border-collapse: collapse;
            width: calc(100% - 400px);
            font-size: 1.3em;
        }
        #addPersonTable td {
            padding: 10px;
        }
        #addPersonPanelTop h2 {
            padding-bottom: 50px;
            text-align: center;
            text-decoration: underline;
        }
        #addPersonPanelTop input {
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1em;
            color: #000;
        }
        #addPersonBtn
        {
            border-radius: 4px;
            border: 1px solid #444;
            font-weight: 700;
            font-size: 1em;
            color: #ddd;
            background: #4CAF50;
            width: 100px;
        }
                #addPersonBtn:hover 
                {
                    background: #ADD3F5;
                    color: #444;
                }
    #addPersonPanelBottom {
        width: 100%;
        height: 100px;
    }
        #addPersonPanelBottom i{
            font-size: 2.5em;
            margin: 20px;
            padding-bottom: 10px;
            color: #ddd;
        }
        #addPersonPanel i:hover {
            color: #bb8;
        }

#takePicPanel {
    position: fixed;
    z-index: 15;
    width: 840px;
    height: 280px;
    margin-left: calc(50% - 420px);
    padding: 10px 10px 10px 20px;
    background: rgba(0, 0, 0, .8);
    border: 1px solid #000;
    border-radius: 12px;
    box-shadow: 0 4px 11px #999;
    top: 555px;
    color: #fff;
    display: normal;
}
    #instructions {
        width: 100%;
        height: 200px;
        font-size: 1.3em;
        text-align: center;
        padding: 20px;
    }
        .cameraBtn {
            width: 50px;
            padding-top: 20px;
        }
        .cameraBtn:hover {
            opacity: .5;
        }
    #takePicPanelBottomLeft {
        width: 90%;
        height: 50px;
        font-size: 1.5em;        
        color: #4CAF50;
        text-align: center;
        float: left;
        padding-left: 70px;
    }
    #takePicPanelBottomRight {
        width: 10%;
        height: 50px;
        font-size: 2.5em;        
        color: #ddd;
        text-align: right;
        float: left;
        padding-top: 10px;
    }
        #takePicPanelBottom i:hover {
            color: #bb8;
        }

#errorPanel {
    position: fixed;
    z-index: 99;
    width: 400px;
    height: 300px;
    margin-left: calc(50% - 200px);
    padding: 30px;
    background: rgba(0, 0, 0, .8);
    border: 1px solid #000;
    border-radius: 12px;
    box-shadow: 0 4px 11px #999;
    top: 250px;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
}    
        #errorPanel img {
            width: 60px;
            margin-bottom: 15px;
        }
        #reconnectBtn {
            width: 100px;
            padding: 1px;
            margin-top: 25px;
            color: #000;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1em;
            font-family: 'Roboto', sans-serif;
        }




.white {
    color: #fff;
}
.gold {
    color: gold;
}
.centered-cell {
    padding-left: 50px;
}

footer {
    width: 100%;
    position: fixed;
    top: 880px;
    z-index: 5;
    text-align: center;
    
}
    footer span {        
        color: #a7b2b4;
        font-size: 1.1em;
        font-weight: 500;
    }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */


/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
