@page
@model IndexModel



<h1 class="white">Home Page</h1>

<div id="tempLogin">
    <form method="post" asp-page-handler="Connect">
        <input class="controlStop" type="submit" value="User Controls" />
    </form>
</div>
<!--
<a href="./UserControls"><h2>User control page</h2></a>-->
